{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    {# DEBUT NAVBAR #}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand " href="#" >Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
            </div>
        </div>
        </nav>

    {# FIN NAVBAR #}

         
      
    <h1>{{ msg_accueil }}</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ asset('/images/Citroën_2_CV.jpg') }}" class="d-block w-100" alt="2cv">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('/images/Renault-5-Turbo-1-24-Jaune.jpg') }}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ asset(('/images/Simca-1000.jpg')) }}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

    <p>Bonjour nous vous proposons tout un panel de services afin de maintenir votre vehicule en parfait etat  </p>
<div class="container">
        <h1>Nos services</h1>


<div class="card-group">

    {% for service in services %}
        <div class="col-4 mb-3">

            <div class="card">
                <img src="../../image/{{service.image}}" class="card-img-top" alt="{{ service.image }}">
                <div class="card-body">
                    <h5 class="card-title">{{(service.nom)| capitalize }}</h5>
                    <p class="card-text">A partir de {{ service.prix }} €</p>
                    <a href="#" class="btn btn-primary">Prendre Rendez-Vous</a>
                </div>
            </div>

        </div>
    {% endfor %}

    </div>



  

{% endblock %}




             
       







  


  

